extends layout
block content
	div.container
			div.row
				div.col-md-8.offset-md-2
					div.input-group
						input(type="text" class="form-control" id="searchbox" placeholder="search serie...")
						span.input-group-btn
							button( type="button" onclick="getdata()").btn.btn-default Search
				div.col-md-2
			div(id="searchContent").container
		div.container
			div.row
				h2 Popular Series
				each sh in show.results
					a(href='/detail/' + sh.id)
						div.panel.panel-default.col-md-3(class="serie")
							h4 #{sh.name}
							img.pull-left(src='https://image.tmdb.org/t/p/w185#{sh.poster_path}')
							
