doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/index.css', type="text/css")
  body
    block navigation bar
      include ./partial/header.jade
    block content